<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
	<meta charset="UTF-8">
	<title>ToHoProject</title>
</head>
<body>
	<div class="layer-group container">
		<div id="bg-layer" class="layer bg-layer">
			<canvas id="bg-target" width="360" height="640"></canvas>
		</div>
		<div id="draw-layer" class="layer draw-layer">
			<canvas id="draw-target" width="360" height="640"></canvas>
		</div>
		<div id="score-layer" class="layer score-layer">
			<span class="score text">SCORE:<span  id="score" class="text">0</span></span>
		</div>
		<div id="menu-layer" class="layer menu-layer">
			<ul>
				<li>开始游戏</li>
				<li>读取进度</li>
			</ul>
		</div>
		<div id="reset-layer" class="layer reset-layer">
			<h4 id="reset" class="reset text">重新开始</h4>
		</div>
		<div id="load-layer" class="layer load-layer">
			<div class="loading">读取中...</div>
		</div>
		<div class="layer fps-layer">FPS：<span id="fps" class="text">0</span></div>
	</div>

</body>
	
</body>
</html> 