<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<meta charset="UTF-8">
	<title>ToHoProject</title>
</head>
<body>
	<div class="layer-group container">
		<div class="layer bg-layer">
			<canvas id="bg-canvas" width="360" height="640"></canvas>
		</div>
		<div class="layer draw-layer">
			<canvas id="draw-canvas" width="360" height="640"></canvas>
		</div>
		<div id="view-layer" class="layer view-layer">
			<div class="title">
				<span>
					<span>分数:</span>
					<span id="score-text" class="text">0</span>
				</span>
				<span>
					<span>FPS：</span>
					<span id="fps-text" class="text">0</span>
				</span>
			</div>
			<div class="enemy info">
				<div class="title">敌方HP : </div>
				<div id="enemy-hp" class="hp"></div>
			</div>
			<div class="player info">
				<div class="title">玩家HP : </div>
				<div id="player-hp" class="hp"></div>
			</div>
		</div>
		<div class="layer ready-layer">
			<div style="position:fixed;top:0;box-shadow:none;z-index:-20;">
				<div>请尽量选择合适浏览器进行试玩</div>
				<div>如：Chrome | Safari</div>
				<div>(此游戏移动端体验更佳)</div>
			</div>
			<h4 id="start-button" class="start text">开始游戏</h4>
			<h4 id="reset-button" class="reset text">重新开始</h4>
			<div id="progress">
				<span>读取中...</span>
				<span id="progress-text"></span>
			</div>
		</div>
	</div>

</body>

</body>
</html>
