body,
div,
dl,
dt,
dd,
ul,
li,
h3,
span,
p,
input,
button
{
    font-family: 'Microsoft YaHei','微软雅黑',arial,simsun;

    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;

    color: #fff;
}
ul
{
    list-style: none;
}
button,
input
{
    font-size: 16px;

    border: none;
    outline: none;
}

.container {
	width: 100%;
	height:100%;
	overflow: hidden;
}
.layer-group,
.layer-group .layer{
	position: absolute;
	left:0;right:0;
	text-align: center;
}
.draw-layer {
	z-index: 0;
}
.bg-layer {
	z-index: -10;
	border-color: #000;
}
.score-layer {
	text-align: left !important;
} 
.menu-layer {
	display: none;
	top:50%;
}
.reset-layer {
	display: none;
	top:50%;
	background-color: #000;
}
.menu-layer ul li {
	margin:10px 0;
}
.load-layer {
	top:40%;
}
.text {
	color: #ddd;
	text-shadow: 0 0 1px #000;
}